.main-container {
  border: 2px solid black;
  padding: 40px 10px;
  margin: 10px 250px;
  box-shadow: 5px 5px 10px #4fdad0;
  background-color: #99a98f;
  height: 100%;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 20px;
}

body {
  background-color: #dae2b6;
}

h1 {
  margin: 10px 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #d6e8db;
}

p {
  font-size: 2rem;
  color: #d6e8db;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #317444;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.btn {
  border-radius: 30px;
  text-align: center;
  padding: 5px 15px;
  width: fit-content;
  font-size: 30px;
  background-color: #fff8de;
  color: #99a98f;
  display: block;
  margin: auto;
  cursor: pointer;
}
